openapi: 3.0.2
info:
  title: API Documentation EksCommerce
  description: Dokumentasi endpoint API untuk sistem produk dan transaksi.
  version: 1.0.0
servers:
  - url: https://api.isc-webdev.my.id/api
    description: Server lokal untuk pengembangan
paths:
  /addproducts:
    post:
      tags:
        - Produk
      summary: Tambah produk baru
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - product_name
              - product_description
              - product_image
              - sale_price
              - category_id
              - supplier_id
              properties:
               product_name:
                type: string
                example: "Lenovo ThinkPad"
               product_description:
                type: string
                example: "Laptop dengan performa tinggi"
               product_image:
                type: string
                example: "product_images/lenovo.jpg"
               sale_price:
                type: string
                example: "5799000"
               category_id:
                type: string
                example: "1"
               supplier_id:
                type: string
                example: "2"
      responses:
        200:
          description: Produk berhasil ditambahkan
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Produk berhasil ditambahkan"
        400:
          description: Permintaan tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Data tidak lengkap"
        500:
          description: Terjadi kesalahan pada server
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: "Gagal menambahkan produk karena kesalahan server"

  /customers:
    get:
      tags:
        - Pengguna
      summary: Tampilkan daftar customer
      responses:
        200:
          description: Daftar customer
        500:
          description: Gagal mengambil data customer

  /customers/stats:
    get:
      tags:
        - Pengguna
      summary: Statistik customer
      responses:
        200:
          description: Statistik customer
        500:
          description: Gagal mengambil statistik

  /addSuppliers:
    post:
      tags:
        - Supplier
      summary: Tambah supplier baru
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
               - supplier_name
              properties:
                supplier_name:
                  type: string
                  example: "PT Mencari Cinta Sejati"
                supplier_address:
                  type: string
                  example: "Jl. in aja dulu"
                supplier_email:
                  type: string
                  format: email
                  example: "ariganteng@gmail.com"
                supplier_contact:
                  type: string
                  example: "085893707918"
                image_path:
                  type: string
                  example: "supplier_images/sumber_makmur.jpg"
                
      responses:
        200:
          description: Supplier berhasil ditambahkan
        400:
          description: Permintaan tidak valid
        500:
          description: Gagal menambahkan supplier

  /viewSuppliers:
    get:
      tags:
        - Supplier
      summary: Lihat daftar supplier
      responses:
        200:
          description: Daftar supplier
        500:
          description: Gagal mengambil data supplier

  /addCategories:
    post:
      tags:
        - Kategori
      summary: Tambah kategori produk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - nama
              properties:
                nama:
                  type: string
                  example: "Minuman"
      responses:
        200:
          description: Kategori berhasil ditambahkan
        400:
          description: Permintaan tidak valid
        500:
          description: Gagal menambahkan kategori

  /viewCategories:
    get:
      tags:
        - Kategori
      summary: Lihat daftar kategori
      responses:
        200:
          description: Daftar kategori
        500:
          description: Gagal mengambil kategori

  /products:
    get:
      tags:
        - Produk
      summary: Lihat daftar produk
      responses:
        200:
          description: Daftar produk
        500:
          description: Gagal mengambil data produk

  /products/details/{id}:
    get:
      tags:
        - Produk
      summary: Detail produk berdasarkan ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Detail produk
        404:
          description: Produk tidak ditemukan
        500:
          description: Gagal mengambil detail produk

  /products/delete/{id}:
    delete:
      tags:
        - Produk
      summary: Hapus produk berdasarkan ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Produk berhasil dihapus
        404:
          description: Produk tidak ditemukan
        500:
          description: Gagal menghapus produk

  /products/stock/{id}:
    post:
      tags:
        - Produk
      summary: Tambah stok produk
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - jumlah
              properties:
                jumlah:
                  type: integer
                  example: 50
      responses:
        200:
          description: Stok berhasil ditambahkan
        400:
          description: Permintaan tidak valid
        500:
          description: Gagal menambahkan stok

  /products/variant/{id}:
    post:
      tags:
        - Produk
      summary: Tambah varian produk
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - warna
                - ukuran
              properties:
                warna:
                  type: string
                  example: "Merah"
                ukuran:
                  type: string
                  example: "L"
      responses:
        200:
          description: Varian berhasil ditambahkan
        400:
          description: Permintaan tidak valid
        500:
          description: Gagal menambahkan varian

  /transaction/checkout/{id}:
    post:
      tags:
        - Transaksi
      summary: Checkout transaksi
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Transaksi berhasil dibuat
        400:
          description: Permintaan tidak valid
        500:
          description: Gagal membuat transaksi

  /orders:
   post:
    tags:
      - Order
    summary: Buat order baru
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - user_id
              - order_id
              - order_date
              - payment_status
              - payment_method
              - downpayment
              - remaining_payment
              - total_price
              - updated_by
              - products
            properties:
              user_id:
                type: integer
                example: 1
              order_id:
                type: string
                example: "ORD-004"
              order_date:
                type: number
                example: 20240527
              payment_status:
                type: string
                enum:
                  - paid
                  - unpaid
                example: "paid"
              payment_method:
                type: string
                example: "cash"
              downpayment:
                type: number
                example: 50000
              remaining_payment:
                type: number
                example: 25000
              total_price:
                type: number
                example: 75000
              updated_by:
                type: string
                example: "admin"
              products:
                type: array
                items:
                  type: object
                  required:
                    - product_id
                    - quantity
                    - price
                  properties:
                    product_id:
                      type: integer
                      example: 11
                    quantity:
                      type: integer
                      example: 2
                    price:
                      type: number
                      example: 25000
    responses:
      200:
        description: Order berhasil dibuat
      400:
        description: Permintaan tidak valid
      500:
        description: Gagal membuat order

  /orders/{id}:
   get:
    tags:
      - Order
    summary: Lihat order berdasarkan ID (UUID/string)
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    responses:
      200:
        description: Detail order
      404:
        description: Order tidak ditemukan
      500:
        description: Gagal mengambil data order

  /orders/by-order-id/{order_id}:
   get:
    tags:
      - Order
    summary: Lihat order berdasarkan Order ID khusus (seperti ORD-001)
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
    responses:
      200:
        description: Detail order berdasarkan Order ID
      404:
        description: Order tidak ditemukan
      500:
        description: Gagal mengambil data order
